.headerContainer {
  padding: 30px 40px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  font-weight: 600;
  position: relative;
}

.logo {
  height: 21px;
  justify-self: center;
}

@media (max-width: 768px) {
  .headerContainer{
    padding: 15px;
  }
  .logo {
    height: 17px;
  }
}

.navOption a {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.navLinks {
  display: none;
  gap: 2vw;
  font-size: 16px;
  position:relative;
}


.navOption span {
  text-wrap: nowrap;
}

.navLinks a:hover {
  color: crimson;
}

.iconContainer {
  display: flex;
  gap: 1.3vw;
  justify-self: end;
  flex-wrap: nowrap;
}
.iconContainer span {
  font-size: 22px;
  &:hover {
    color: crimson;
    cursor: pointer;
  }
}

.menuIcon {
  font-size: 1.6rem;
}

@media (min-width: 1150px) {
  .menuIcon {
    display: none;
  }
  .navLinks {
    display: flex;
  }
  .logo {
    justify-self: start;
  }
}

@media (max-width: 768px) {
  .hider {
    display: none;
  }
}


