.CatagoriesCard{
    position: relative;

}

.CatagoriesCard img{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.CardText{
    position: absolute;
    bottom: 24px;
    left: 10px;
    background-color: white;
    padding: 10px 1.6vw;
    font-size: 15px;
    font-weight: 500;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    display: flex;
    align-items: center;
    gap: 0.5vw;
    transition: all 0.4s linear;
}


.CardText span svg{
    transition: all 0.5s linear;
    font-size: 18px;
    display: none;
    transition: all 0.6s linear;
}

.CardText:hover svg{
 display: block;
}


.CardText:hover{
    background-color: black;
    color: white;
}

@media (max-width:768px) {
    .CardText{
        left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

