.HeroContainer{
    position: relative;
}

.HeroContainer img{
    min-width: 100vw;
    max-width: 100%;
    object-fit: cover;
    min-height: 450px;
}



.HeroTextBox{
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 5vw;
    font-family: sans-serif;
}


.HeroTextBox h2{
    text-wrap: nowrap;
    font-size: clamp(1.8rem,5vw,5rem);
    font-weight: 400;
}
.HeroTextBox p{
     margin-top: 1rem;
    font-size: 20px;
    max-width: 50vw;
    margin-bottom: 16px;
}


@media (max-width:768px) {
    .HeroTextBox p{
        display: none;
    }
    
}

.HeroTextBox button{
    margin-top: 1.5rem;
    font-size: 1.1rem;
    color: white;
    background-color: #000000;
    width: fit-content;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    border-radius: 4px;
}
.HeroTextBox span.arrowRight{
    font-size: 1.3rem;
    display: inline-block;
    font-weight: 900;
    padding-top: 7px;
    margin-left: 6px;
}

@media (min-width:1500px) {
    .HeroTextBox{
        margin-left: 210px;
    }
}

@media (max-width:1024px) {
    .HeroTextBox button{
       font-size: 15px;
       padding: 5px 22px;
    }
    .HeroTextBox .arrowRight{
        font-size: 10px;
    }
}
