.ProductGridContainer {
  max-width: 1500px;
  margin: auto;
  padding: 18px;
}

@media (min-width:1024px) {
  .ProductGridContainer{
    padding: 48px;
  }
}

.ProductGrid {
  border-radius: 8px;
  display: none;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
  border: 1px solid #ebebeb;
  justify-items: center;
  align-items: center;
  justify-items: center;
}

.logoContainer {
  border-right: 1px solid #ebebeb;
  padding: 16px;
}

.logoContainer img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.logoContainer > div:last-child {
  border: 0px;
}

@media (max-width: 1024px) {
  .logoContainer {
    padding: 18px;
  }
}

@media (min-width: 1150px) {
  .ProductGrid {
    display: grid;
  }
  .ProductGridResponsive {
    display: none;
  }
}

.ProductGridResponsive {
  border: 1px solid #ebebeb;
}

.ProductGridResponsive ul {
  bottom: -40px;
}
