.TestimonialSlider {
  max-width: 1500px;
  margin: auto;
}

.Testimonial {
  padding: 0 18px;
}

@media (min-width: 768px) {
  .TestimonialSlider {
    margin-block: 45px;
  }
}

@media (min-width: 1024px) {
  .TestimonialSlider {
    padding-inline: 30px;
    margin-block: 50px;
  }
}

.slideButton > svg {
  font-size: 0.9rem;
}

.slideButton {
  padding: 10px;
  border: 1px solid black;
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.slideButton:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.slideButton:nth-child(3) {
  position: absolute;
  top: 50%;
  right: 26px;
  transform: translateY(-50%);
}
.slideButton:nth-child(1) {
  position: absolute;
  top: 50%;
  left: 26px;
  transform: translateY(-50%);
}

@media (min-width: 1024px) {
  .slideButton {
    padding: 13px;
    display: flex;
  }
}

@media (min-width: 1550px) {
  .slideButton:nth-child(3) {
    right: -1.4vw;
  }
  .slideButton:nth-child(1) {
    left: -1.4vw;
  }
}

.TestimonialSlider>ul {
  position: relative;
  list-style: none;
  display:block;
  text-align: center;
}


